{{#if resume.volunteer}}
<section class="section experiences-section">
  <h2 class="section-title">Volunteer Work</h2>
  {{#resume.volunteer}}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{position}}</h3>
        <div class="time">{{year startDate}} - {{year endDate}}</div>
      </div>
      <div class="company">{{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{organization}}{{#if url}}</a>{{/if}}</div>
    </div>
    <div class="details">
      {{summary}}
    </div>
  </div>
  {{/resume.volunteer}}
</section>
{{/if}}
